<!-- chat/templates/chat/chat.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <h1> logged in as {{ user.username }}</h1>
    <select id="chat-recipients">
        <option value="" selected disabled hidden> Friends </option>
        {% for friend in friends %}
            <option value="{{ friend.pk }}">{{ friend.username }}</option>
        {% endfor %}
    </select><br/>

    {% for friend in friends %}
        <textarea class="chat" id="chat-log-{{friend.pk}}" cols="100" rows="20" style='display:none;'></textarea><br/>
    {% endfor %}

    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>

    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/'
    );

    // Populate chat logs with messages from database
    {% for id, message_list in messages.items %}
        {% for author, msg in message_list %}
            var id = "{{id}}";
            document.querySelector(`#chat-log-${id}`).value += 
                "{{author}}: {{msg}}\n";
        {% endfor %}
    {% endfor %}

    // When a message is recieved from the server
    chatSocket.onmessage = function(e) {
        var doc = document.getElementById("chat-recipients");
        var friend = doc.options[doc.selectedIndex].value;
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector(`#chat-log-${friend}`).value += (message + '\n');
    };

    // When the socket is closed
    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    // When the dropdown changes
    document.querySelector('#chat-recipients').onchange = function(e) {
        var pk = e.target.value;

        // Hide all chat logs
        var chatLogs = document.querySelectorAll(".chat");
        for(var i = 0; i < chatLogs.length; i++){
            chatLogs[i].style.display = 'none';
        }

        // Show selected chat log 
        selected = document.querySelector(`#chat-log-${pk}`);
        selected.style.display = 'block';
    };

    // When a chat message is sent to the server
    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var chat = document.getElementById("chat-recipients");
        var friend = chat.options[chat.selectedIndex].value;
        var message = messageInputDom.value;
        var author = "{{ user.username }}";

        chatSocket.send(JSON.stringify({
            'type': 'message',
            'message': message,
            'recipient': friend,
            'user': author,
        }));

        messageInputDom.value = '';
    };
</script>
</html>